.App {
  text-align: center;
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: max-content auto auto;
  grid-template-areas:
    "header header header"
    "ImagesSidebar gameStatusBar thingsSidebar"
    "ImagesSidebar main thingsSidebar";
}

/* Header */

header {
  grid-area: header;
  background-color: #b94343;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header>#title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

header>button {
  background-color: #b94343;
  height: 100%;
  border: none;
  color: white;
  padding: 1em;
}

header>button:first-of-type {
  border-right: 1px solid #e5e5e5;
}

header>button:last-of-type {
  border-left: 1px solid #e5e5e5;
}

header>button:hover {
  background-color: hsl(0, 47%, 80%);
}

/* Images Sidebar */
#imagesSidebar {
  grid-area: ImagesSidebar;
  background-color: hsl(0, 0%, 50%);
  height: 100%;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imagesSidebar>h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

#imagesSidebar>ul {
  list-style: none;
}

#imagesSidebar button {
  background-color: hsl(0, 0%, 50%);
  border: 1px solid white;
  color: white;
  padding: .5em 1em;
  margin: .5rem 0rem;
}

#imagesSidebar button.active {
  background-color: white;
  border: 1px solid hsl(0, 0%, 50%);
  color: hsl(0, 0%, 50%);
  padding: .5em 1em;
  margin: .5rem 0rem;
}


/* Things Sidebar */

#thingsSidebar {
  grid-area: thingsSidebar;
  background-color: hsl(0, 0%, 50%);
  width: 12rem;
}

#thingsSidebarContainer p {
  color: white;
  font-size: 1.5rem;
}

#thingsSidebarContainer>#winnerTitle {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


#thingsSidebarButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#thingsSidebarButtons>button{
  background-color: hsl(0, 0%, 50%);
  border: 1px solid white;
  color: white;
  padding: .5em 1em;
  margin: .5rem 0rem;
}

#thingsSidebarButtons>button.active{
  background-color: white;
  border: 1px solid hsl(0, 0%, 50%);
  color: hsl(0, 0%, 50%);
  padding: .5em 1em;
  margin: .5rem 0rem;
}

#thingsSidebarContainer>#winnerTitle {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#thingsSidebarContainer>.winner{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.blurText {
  filter: blur(5px);
}

/* Game Status Bar */

#gameStatusBar{
  grid-area: gameStatusBar;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 50%);
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#gameStatusBarContainer{
  display: grid;
  grid-template-columns:  max-content repeat(4, 1fr);
  align-items: center;  
}

#helpButton{
  background:none;
  border:none;
  color:white;
}

#helpText{
  position: absolute;
  top: 5rem;
  width: 200px;
  background-color: hsl(0, 0%, 50%);
  color: white;
  padding: 1em;
  border: 1px solid white;
}

#helpText>span{
  font-size: 1.5em;
  font-weight: bold;
}
.normalTimer{
  color: white;
}
.finishedTimer{
  color:greenyellow
}

#mainButton{
width: 5em;
background-color: hsl(0, 0%, 50%);
color: white;
border: 1px solid white;
align-self: center;
justify-self: center;
}

#playerNameContainer{
  display:flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

#playerNameLabel{
  color: white;
  font-size: .75rem;
  white-space: nowrap;
}

#playerName{
  width: 5rem;
}

#saveTimeButton{
  width: 7em;
  background-color: hsl(0, 0%, 50%);
  color: white;
  border: 1px solid white;
  align-self: center;
  justify-self: center;
}

/* Main Image */

#imgContainer {
  grid-area: main;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

#imgContainer>img {
  background-color: #282c34;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  cursor: pointer;
}

.text {
  position: absolute;
  border: 1px solid black;
  background-color: white;
}

#selectionBox {
  position: absolute;
  display: flex;
  flex-direction: column;
}

#selectionBox>button {
  background-color: white;
  border: 1px solid black;
  outline: none;
  color: black;
  font-size: 2rem;
}

.found {
  text-decoration: line-through;
}

.blur {
  filter: blur(15px);
}

#foundThingsMarkerContainer>p {
  position: absolute;
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 3px black;
  user-select: none;
}

#foundThingsMarkerContainer>p:hover::after {
  content: attr(data-text);
  font-size: 1rem;
  position: relative;
  top: -.5rem;
  user-select: none;
}